.block-sm {
  width: 100px;
  height: 100px;
}
.bg-dark {
  background-color: grey;
}
.display-block {
  display: block;
}
[class="block-sm bg-dark"] {
  border: 2px solid red;
}
[class~="block-sm"] {
  font-size: 40px;
}
[class$="block"] {
  color: blue;
}
[class^="block"] {
  color: red;
}
[class*="bg-dark"] {
  padding: 50px;
}
a:link {
  color: yellow;
}

a:visited {
  color: black;
}
a:hover {
  color: red;
}
.pointer:hover {
  cursor: pointer;
}
a:active {
  color: green;
}
.text-center {
  text-align: center;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table,
td {
  border: 1px solid black;
}
td:first-of-type {
  color: blue;
}
/* td:first-child {
  color: blue;
} */
td:last-child {
  color: red;
}
td:nth-child(3) {
  color: yellow;
  text-align: center;
}
td:nth-last-child(2) {
  color: purple;
}

/* --- */
.my-para::first-letter {
  font-size: 100px;
  color: blue;
}
.my-para::selection {
  color: blue;
}
.my-para::before {
  content: "ABC";
}
.my-para::after {
  content: "After";
}
input:focus {
  background-color: #f0f;
}
input:checked {
  border: 3x solid yellowgreen;
}
.parent {
  width: 50%;
  height: 100px;
  background-color: yellowgreen;
  border: 1px solid red;
  margin: 0 auto;
  float: left;
}
.child {
  width: 50%;
  height: 50%;
  background-color: blue;
  border: inherit;
}
.p {
  text-shadow: 10px 10px grey;
  border-bottom: 1px solid rebeccapurple;
}
h1 {
  margin: 50px;
  padding: 50px;
  border: 1px solid red;
}
h2 {
  margin: 30px;
  padding: 30px;
  border: 1px solid blue;
}
